/* Set the base font size using root element */
:root {
  font-size: 62.5%;
}

/* Common styles for both mobile and desktop */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-image: url("Avengers.gif");
  background-color: black;
  background-size: cover;
  background-position: center;
  display: block;
}

.container {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5%;
  background-color: black;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 2rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid green;
  margin-bottom: 1rem;
  text-decoration: none;
  color: darkgreen;
  background-color: rgb(213, 248, 162);
  cursor: pointer;
  transition: box-shadow 150ms;
}

.btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

input {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: black;
}

/* Navbar styles */
.navbar {
  width: 100%;
  height: 70px; /* Adjust the height as needed for your design */
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  top: 0;
}

.logo {
  height: 100%;
  width: auto;
  border: none;
  margin-left: 10px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: rgba(240, 255, 255, 0.925);
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
      height: 50px;
  }

  .logo {
      margin-left: 5px;
  }

  .navbar ul li {
      margin: 0 10px;
  }

  .btn {
      font-size: 1.8rem;
  }

  input {
      max-width: 18rem;
  }
}

/* Desktop responsiveness */
@media (min-width: 769px) {
  .navbar {
      height: 70px;
  }

  .navbar ul li {
      margin: 0 20px;
  }

  .btn {
      font-size: 2rem;
  }

  input {
      max-width: 20rem;
  }
}
